---
---

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{site.title}}</title>
        <link rel="stylesheet" href="{{ 'assets/css/reset.css' | relative_url }}" />
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />

        {% if page.stylesheet %} {% assign customStyleSheet = "assets/css/" | append: page.stylesheet %}
        <link rel="stylesheet" href="{{customStyleSheet | relative_url }}" />
        {% endif %} {% if page.javascript %} {% assign customJavaScript = "assets/js/" | append: page.javascript %}
        <script src="{{customJavaScript | relative_url}}"></script>
        {% endif %}
    </head>
    <body>
        <div class="container">
            <header class="header-container">{% include header.html %}</header>
            <main class="main-container">
                <div class="main-box">
                    <div class="main-title">진행할 게임을 선택하세요!</div>
                    <ul>
                        <li>
                            <div id="game-title">가위바위보 게임</div>
                            <div id="game-img"><img /></div>
                        </li>
                        <li>
                            <div id="game-title">테트리스 게임</div>
                            <div id="game-img"><img /></div>
                        </li>
                        <li>
                            <div id="game-title">2048 게임</div>
                            <div id="game-img"><img /></div>
                        </li>
                        <li>
                            <div id="game-title">짝맞추기 게임</div>
                            <div id="game-img"><img /></div>
                        </li>
                    </ul>
                </div>
            </main>
            <footer class="footer-container">{% include footer.html %}</footer>
        </div>
    </body>
</html>
